.app { 
  height: calc(100vh);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;

  @media only screen and (min-width: 767px) {
    .text-container-mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .container{
      display: none;
    }
    margin: auto;
    .text-container-mobile {
      font-size: 18px;
      color: #333;
      text-align: center;
      align-items: center;
      justify-content: center; /* Change to center */
      display: flex;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      height: 100vh; /* Optional: set height to fill viewport */
    }
}

}

.container{
  display: flex;
}

.file-explorer {
  height: calc(100vh - 28px);
  background-color: #4f384a;
  width: 360px;
  border-right: 3px solid #B8A6B4;
}

.nav-bar{
  background-color: #352732;
  border-bottom: 3px solid #51424E;
  border-top: 3px solid #51424E;
  padding: 4px;
  text-align: center;
  span {
    color: white;
  }
}